{% extends 'base.html.twig' %}

{% block body %}

    {# FEATURE #}
    <div class="feature">
        
        <img src="{{ asset('assets/img/bg-p-404.png') }}" alt="Image feature" class="img-feature">
        
    </div>
    {# END FEATURE #}

{% endblock %}