{% extends 'base.html.twig' %}

{% block body %}

    <main role="main">

        {% block fos_user_content %}

        {% include "@FOSUser/Resetting/request_content.html.twig" %}

        {% endblock fos_user_content %}

    </main>

{% endblock body %}