{% extends ('base.html.twig') %}

{% block body %}

    {# Image contact #}
    <div class="thumbnail">
        <img src="{{ asset('assets/img/bg-p-templates.jpg') }}" alt="" class="img-all">
    </div>

    {# CONTENU PRINCIPAL #}
    <main role="main">

        {# APERCUS TEMPLATES #}
        <span class="templates-all">

            {% for produit in produits %}
            <a href="{{ path('app_single', {'id': produit.id }) }}" class="single-template-all">
                <img src="{{ asset('assets/img/mini'~ produit.id ~'.png') }}" alt="Image de template" class="image-template-all">
                <h5 class="titre-template-all">{{produit.titre}}</h5>
            </a>
            {% endfor %}

        <div class="clear"></div>

        </span>
        {# FIN APERCUS TEMPLATES #}
    
    </main>

{% endblock %}