{% extends ('base.html.twig') %}

{% block body %}

    {# Image contact #}
    <div class="thumbnail">
        <img src="{{ asset('assets/img/bg-p-templates.jpg') }}" alt="" class="img-all">
    </div>

    {# CONTENU PRINCIPAL #}
    <main role="main">

        {# APERCUS TEMPLATES #}
        <div class="templates-all">
            {% for produit in produits %}
            <a href="{{ path('app_single', {'id': produit.id }) }}" class="single-template-all">
                <div class="template-all">
                    <img class="image-template-all" src="{{ asset('assets/img/template1.png') }}" alt="Image de template">
                    <div class="textes-template-all">
                        <h5 class="titre-template-all">{{produit.titre}}</h5>                      
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
            
        {# FIN APERCUS TEMPLATES #}
    
    </main>

{% endblock %}