{% extends 'base.html.twig'%}
{% block body %}

<main role="main">
<p>Politique de confidentialité</p>

<p>Dernière mise à jour : 24 mai 2018</p>

<p>La protection de votre confidentialité nous tient à coeur. Ndesign.com s'engage à protéger la confidentialité, la sécurité et l'exactitude des renseignements personnels qu'ils recueillent, utilisent ou communiquent conformément à la législation applicable. La présente politique de protection de la confidentialité ( la « politique de protection de la confidentialité » ) constitue un énoncé des principes et des lignes directrices concernant la protection des renseignements personnels des individus qui sont nos clients, nos fournisseurs de services et d'autres individus (« vous ») (à l'exception de notre personnel, dont les renseignements personnels sont recueillis, utilisés et communiqués conformément à notre politique de protection de la confidentialité à l'intention du personnel).</p>

<p>CONSENTEMENT</p>
<p>EN FOURNISSANT DES RENSEIGNEMENTS PERSONNELS À Ndesign.com OU À SES MANDATAIRES, VOUS CONVENEZ QUE NOUS POUVONS RECUEILLIR, UTILISER OU COMMUNIQUER CES RENSEIGNEMENTS PERSONNELS CONFORMÉMENT À LA PRÉSENTE POLITIQUE DE PROTECTION DE LA CONFIDENTIALITÉ, AUX PRÉFÉRENCES EN MATIÈRE DE LA PROTECTION DE LA CONFIDENTIALITÉ QUE VOUS NOUS AVEZ INDIQUÉES ET TEL QU'AUTORISÉ OU REQUIS PAR LA LOI. Sous réserve d'exigences légales et contractuelles, vous pouvez refuser ou retirer votre consentement à l'égard de certaines des fins déterminées en tout temps en communiquant avec nous. Si vous refusez ou retirez votre consentement, il se peut que nous soyons dans l'impossibilité de vous fournir ou de continuer de vous fournir certains services ou renseignements qui pourraient vous être utiles.</p>
<h3>1. La société</h3>

<p>Ndesign.com est une société dont les activités se concentrent dans le secteur du web. La société est dans le développement et l'intégration de solutions Internet.</p>
<p>La présente politique de protection de la confidentialité s'applique à la collecte, à l'utilisation et à la communication par nous de renseignements personnels concernant des clients et consommateurs de nos produits et services.</p>
<h3>2. Le type de renseignements personnels recueillis</h3>

<p>La législation Francaise sur la protection des renseignements personnels définit les renseignements personnels de façon assez générale comme un renseignement concernant un « individu identifiable » ou comme un renseignement permettant d'identifier un individu. Les types de renseignements personnels que nous pouvons recueillir auprès de vous de temps à autre comprennent : votre nom, votre adresse, votre numéro de téléphone, votre adresse de courrier électronique, votre  adresses.</p>
<h3>3. Les motifs de la collecte de vos renseignements personnels</h3>

<p>Nous recueillons vos renseignements personnels aux fins indiquées ci-dessous :</p>

<p>(a) Afin de fournir le produit, service ou renseignement que vous avez demandé</p>
Si vous êtes un client de l'un de nos services, nous utilisons votre nom et votre adresse (adresse postale et adresse de courrier électronique) afin de livrer le produit, service ou renseignement que vous avez demandé et d'assurer le suivi concernant la transaction (c.-à-d., envoyer une facture, vous aviser de l'expiration de votre abonnement, etc.).</p>

<p>(b) Afin de traiter le paiement
Votre numéro de carte de crédit ou les renseignements bancaires concernant les paiements par prélèvements automatiques sont utilisés seulement pour traiter les paiements et vous présenter divers choix de paiement, et non à des fins de marketing.
</p>
<p>(c) Vous envoyer des renseignements
De temps à autre, nous pouvons vous envoyer de plus amples renseignements concernant nos produits et services.
</p>
<p>(d) Autres fins
En outre, de temps à autre, nous pouvons utiliser vos renseignements personnels aux fins suivantes :</p>

    <p> repérer les erreurs, fraudes, vols et autres activités illégales et en protéger ndesing.com et d'autres tiers, et vérifier la conformité à l'égard des politiques et obligations contractuelles de ndesing.com;</p>
    <p>comprendre vos besoins et préférences, notamment pour communiquer avec vous et effectuer des sondages, de la recherche et des évaluations ;</p>
    <p>obtenir des relevés vérifiés concernant le nombre de clients par produits et services ;</p>
    <p> réaliser des opérations commerciales, y compris l'achat, la vente, la location, la fusion, le regroupement ou tout autre type d'acquisition, d'aliénation, de titrisation ou de financement auquel prend part ndesing.com;</p>
    <p> toute autre fin que nous pouvons vous indiquer de temps à autre.</p>

<h3>4. La communication de vos renseignements personnels

<p>Nous pouvons communiquer vos renseignements personnels aux tierces parties suivantes dans les circonstances indiquées ci-dessous:</p>

<p>(a) Communications aux fournisseurs de services</p>
<p>Nous pouvons communiquer vos renseignements personnels à d'autres sociétés qui fournissent des services en notre nom, y compris des agents contractuels d'exécution, des vérificateurs, nos concepteurs de logiciels (y compris les concepteurs et les hôtes de sites Web), ainsi que les fournisseurs de services de traitement de données, de gestion de documents et de services de bureau. En outre, nous pouvons communiquer vos renseignements personnels à une organisation ou à un individu dont les services ont été retenus par ndesing.com afin d'évaluer votre solvabilité ou de recouvrer des créances impayées à l'égard d'un compte, ou encore à nos vérificateurs. Nous ne fournirons à ces sociétés que les renseignements dont elles ont besoin pour fournir le service et il leur est interdit d'utiliser ces renseignements à une autre fin.</p>

<p>b) Communication à nos unités fonctionnelles</p>
<p>Nous pouvons communiquer vos renseignements personnels à n'importe laquelle des unités fonctionnelles qui font partie du groupe Novaxis Solutions inc. (c.-à-d. ndesing.com, ses filiales et les membres de son groupe) afin de mieux vous servir et de vous fournir des renseignements concernant les produits et services de notre groupe.</p>

<p>(c) Communication aux partenaires commerciaux</p>
<p>De temps à autre, nos sites Web peuvent offrir leurs listes de clients à d'autres organisations triées soigneusement qui veulent vous faire connaître un produit ou service susceptible de vous intéresser. Nous passons en revue les documents qui doivent vous être envoyés avant de communiquer votre adresse de courrier électronique afin de nous assurer que l'organisation est digne de confiance et que les documents concernés sont appropriés et ne contiennent pas d'information trompeuse.</p>

<p>(d) Communication dans le cadre de transferts d'activités
<p>ndesing.com peut participer à la vente ou au transfert d'une partie ou de la totalité de ses activités. Dans le cadre de cette vente ou de ce transfert, ndesing.com peut communiquer vos renseignements personnels à l'organisation acquéresse, mais exigera de cette dernière qu'elle accepte de protéger la confidentialité de vos renseignements personnels d'une façon conforme à la présente politique de protection de la confidentialité.

<p>(e) Application de la loi et communication en vertu d'une loi
<p>ndesing.com peut communiquer vos renseignements personnels à un organisme gouvernemental qui a fait valoir son autorité légitime d'obtenir les renseignements ou lorsque ndesing.com a des motifs raisonnables de croire que les renseignements pourraient être utiles dans l'enquête visant une activité illicite, ou encore pour se conformer à une assignation, un mandat ou une ordonnance d'un tribunal, d'une personne ou d'un organisme compétent exigeant la présentation des renseignements, ou pour se conformer à la décision d'un tribunal concernant la présentation de dossiers de renseignements.
<p>ndesing.com peut également communiquer vos renseignements personnels à son conseiller juridique.
<p>Si vous préférez que nous NE communiquions PAS vos renseignements personnels de la façon décrite ci-dessus aux clauses 4a) à 4d), veuillez simplement nous en informer (voir la rubrique « Comment communiquer avec nous » ci-dessous).
<h3>5. Le contrôle de vos renseignements personnels</h3>

<p>ndesing.com souhaite que vous soyez en mesure de garder le contrôle sur la façon dont nous utilisons vos renseignements personnels.

<p>En particulier :
<p>Vous pouvez avoir le droit de ne pas participer à certaines ou à la totalité des fins déterminées, des utilisations et des communications indiquées aux clauses 3 et 4 ci-dessus.

<p>Vous avez toujours le choix de nous demander de ne pas utiliser vos nom, adresse, adresse de courrier électronique, etc. et de ne vous fournir que le produit, le service ou les renseignements que vous avez demandés.

<p>Voir la rubrique « Comment communiquer avec nous » ci-dessous.

<p>Les communications par courriel comprendront toujours l'identification de l'expéditeur ainsi que l'option « Se désabonner ».
<p>Comme il a été mentionné ci-dessus, il se peut que nous soyons dans l'impossibilité de vous fournir nos services si vous retirez votre consentement à l'égard de notre utilisation de vos renseignements personnels.
<p>6. Le stockage de vos renseignements personnels

<p>Vos renseignements personnels sont stockés dans des emplacements sécurisés ainsi que dans des serveurs contrôlés par Novaxis Solutions inc., situés soit dans nos bureaux, soit dans les bureaux de nos fournisseurs de services. Pour consulter vos renseignements personnels, veuillez communiquer avec notre responsable de la protection de la confidentialité dont les coordonnées figurent à la rubrique « Comment communiquer avec nous » ci-dessous).
<p>7. La consultation de vos renseignements personnels

<p>Sur demande écrite, sous réserve de certaines exceptions, ndesing.com vous informera de l'existence, de l'utilisation et de la communication de vos renseignements personnels et vous permettra de les consulter. Vous devez envoyer votre demande de consultation à notre responsable de la protection de la confidentialité, dont les coordonnées figurent à la rubrique « Comment communiquer avec nous » ci-dessous).
<p>8. La protection de vos renseignements personnels

<p>Nous déployons tous les efforts raisonnables afin de prévenir la perte, l'utilisation malveillante et l'altération des renseignements personnels sous notre contrôle. Nos politiques de sécurité sont passées en revue périodiquement et améliorées au besoin.

<p>Seuls les employés et les fournisseurs autorisés ont accès à vos renseignements personnels. Lorsque des renseignements personnels sont envoyés à un tiers aux fins de traitement, nous nous assurons, au moyen d'ententes contractuelles avec celui-ci, que vos renseignements personnels demeurent sécurisés. Nous conservons vos renseignements personnels pendant la période où nous vous fournissons un produit ou un service et pendant une période raisonnable par la suite dans l'éventualité où vous voudriez obtenir à nouveau un service.

<p>Nous exploitons des réseaux de données sécurisés protégés par des systèmes de coupe-feu et de protection par mot de passe correspondant aux normes de l'industrie. Cependant, nous ne pouvons garantir que les renseignements personnels communiqués volontairement dans les salons de clavardage ou dans des groupes de discussion ne seront pas recueillis et utilisés par des tiers, auquel cas vous pourriez recevoir des messages non sollicités de la part de tiers.</p>
<p>9. La protection de la confidentialité et nos sites Web</p>

<p>ndesing.com recueille parfois des renseignements personnels par l'intermédiaire de ses divers sites Web. La présente clause renferme des renseignements supplémentaires concernant la collecte de ces renseignements personnels.</p>

<p>Témoins - Lorsqu'un individu accède aux sites Web de ndesing.com, il se peut que nous utilisions un dispositif du navigateur appelé un « témoin » (cookie) afin de recueillir de l'information comme le type de navigateur Internet et le système d'exploitation que le visiteur utilise, le nom de domaine des sites Web d'où vient le visiteur, la date et la durée de la visite, le nombre de visites, le temps passé en moyenne sur nos sites Web, les pages consultées et le nombre de témoins accumulés. Un témoin est un petit fichier texte contenant un numéro d'identification unique qui identifie le navigateur du visiteur (sans nécessairement identifier ce dernier) à l'intention de nos ordinateurs à chaque fois que nos sites Web sont visités. À moins que le visiteur nous informe expressément (p. ex., en s'inscrivant à nos services ou en nous envoyant un message à partir des sites Web), nous ne connaîtrons pas l'identité des visiteurs. Outre les fins déterminées décrites dans notre politique de protection de la confidentialité, nous pouvons utiliser cette information tirée de nos sites Web et la partager avec d'autres organisations avec lesquelles nous entretenons des relations commerciales afin de mesurer l'utilisation de nos sites Web et d'en améliorer les fonctionnalités et le contenu. Les visiteurs peuvent réinitialiser leur navigateur afin d'être avisés dès qu'ils reçoivent un témoin ou de refuser les témoins. Cependant, lorsqu'un visiteur refuse les témoins, il se peut qu'il soit dans l'impossibilité d'utiliser certains des dispositifs offerts dans nos sites Web.</p>
<p>Communications en ligne - Afin de recevoir un produit, un service ou une information, les visiteurs de nos sites Web peuvent nous communiquer volontairement des renseignements personnels à des fins telles que les questions, les demandes de renseignements, l'abonnement à un produit, la consultation ou le téléchargement d'un document, la participation à des concours et à des sondages. Si ndesing.com vous a identifié en tant qu'utilisateur inscrit d'un service en ligne, nous pouvons combiner et mettre en mémoire les renseignements personnels concernant votre utilisation de nos sites Web et l'information en ligne que vous avez fournie avec certaines autres informations en ligne et hors ligne que nous avons pu recueillir.</p>

<p>Communications par courriel - À l'occasion, il se peut que nous vous envoyions par courriel des communications liées au marketing ou de nature promotionnelle contenant de l'information qui peut vous être utile, notamment de l'information concernant les produits et services de ndesing.com et d'autres tiers avec lesquels nous entretenons des relations commerciales. Nous y inclurons des directives sur la façon de vous désabonner et de nous informer de vos préférences si vous décidez que vous ne voulez pas recevoir de courriel de marketing ou de nature promotionnelle à l'avenir de la part de ndesing.com.</p>
<p>De plus, si vous nous envoyez un message par courriel, nous pouvons conserver ce message et votre adresse de courrier électronique, ainsi que toute réponse que nous vous transmettons.

<p>Individus âgés de moins de 18 ans - Les individus âgés de moins de 18 ans ne devraient pas fournir ou afficher des renseignements personnels sur nos sites Web sans la permission de leurs parents ou de leur tuteur.

<p>11. Modifications à la politique de protection de la confidentialité</p>
ndesing.com se réserve le droit de modifier ou de compléter la présente politique de protection de la confidentialité en tout temps. Si nous apportons des modifications à la présente politique de protection de la confidentialité, nous afficherons ces modifications sur nos sites Web et la politique modifiée sera disponible sur demande adressée au responsable de la protection de la confidentialité de ndesing.com. Cependant, ndesing.com obtiendra les consentements nécessaires aux termes des lois sur la protection des renseignements personnels applicables si elle entend recueillir, utiliser ou communiquer des renseignements personnels concernant un individu à des fins autres que celles pour lesquelles le consentement a été donné, à moins que cela ne soit par ailleurs requis ou autorisé par la loi.
<p>12. Comment communiquer avec nous</p>

<p>ndesing.com a nommé un responsable de la protection de la confidentialité qui supervise la conformité à la présente politique de protection de la confidentialité et aux lois applicables en matière de protection des renseignements personnels. Les coordonnées du responsable de la protection de la confidentialité de ndesing.com sont les suivantes :</p>

<p>Responsable de la protection de la confidentialité de ndesing.com</p>
<p>400, Boulevard Langelier,</p>
<p>Québec (Québec) G1K 5N9</p>
<p>http://support.ndesing.com/</p>
<p>Télécopieur : (418) 694-2176</p>
<p>Annexe 1 - Protection des données personnelles</p>
<p>Quelles sont les données personnelles qui sont collectées me concernant ?</p>

   <p> Quelles données ?</p>

<p>Les informations que nous collectons servent à améliorer les services proposés à tous nos utilisateurs.</p>

<p>Lorsque vous créez un compte ndesign, vous nous fournissez des informations personnelles, dont votre nom et un mot de passe. Vous avez également la possibilité d'ajouter un numéro de téléphone ou des informations de paiement à votre compte par exemple.</p>

<p>Nous collectons de notre côté certaines informations comme les adresses IP, données de connexions et données de navigation, historiques de commandes, préférences…</p>

<p>Certaines données sont collectées parce que vous nous les donnez volontairement, d’autres automatiquement du fait de vos actions sur le site, d'autres informations peuvent être transmises par des partenaires.</p>

   <p> Quand ?</p>

<p>Nous collectons les informations que vous nous fournissez notamment quand :</p>

   <p> vous créez votre compte client sur notre site</p>
   <p> vous effectuez une commande sur notre site</p>
   <p> vous naviguez sur notre site et consultez des pages</p>
   <p> vous participez à un jeu ou un concours</p>
   <p> vous éditez et publiez votre site</p>
   <p> vous contactez notre Service Client</p>
   <p> vous rédigez un commentaire</p>
   <p> vous consultez nos publicités</p>

<p>Sur quelle base légale et pour quelles durées mes données personnelles sont-elles traitées ?</p>

<p>Le traitement de vos données personnelles est justifié par différents fondements (base légale) en fonction de l'usage que nous faisons des données personnelles. Vous trouverez ci-dessous les bases légales que nous appliquons à nos principaux traitements.</p>

   <p> Bases légales des traitements</p>

<p>Parmi les bases légales applicables :</p>

   <p> Le contrat : le traitement des données personnelles est nécessaire à l'exécution du contrat auquel vous avez consenti.</p>
   <p> L'intérêt légitime : ndesign a un intérêt commercial à traiter vos données qui est justifié et ne vient pas porter atteinte à votre vie privée. Sauf exception, vous pouvez à tout moment vous opposer à un traitement basé sur l'intérêt légitime en le signalant à ndesign.</p>

   <p> Les données que vous nous avez fournies - Base Légale Contrat

    Nom, prénom
    Email
    Adresse postale
    Mode de paiement ( les numéros des cartes sont stockés par Spreedly)
    Identifiants
    Date de Naissance
    Société
    Téléphone</p>

<p>Nous avons ces données afin d’améliorer notre produit, de créer des services et de générer des rapports.

    Les données que nous collectons - Base légale : Intérêt légitime

    Adresses IP
    Navigateur
    Clics
    Mapping</p>

<p>Nous conservons ces données afin d’améliorer notre produit, de créer des services et de générer des rapports</p>
<p>Comment utilisons-nous les informations que nous collectons ?

    Pour fournir, améliorer et développer nos services
    Pour créer et maintenir un environnement fiable et sécurisé.
    Pour fournir, personnaliser et améliorer notre publicité marketing.
</p>

<p>Mes droits en tant qu’utilisateurs

    Gestion de vos informations
        Vous pouvez accéder et mettre à jour certaines de vos informations par le biais des paramètres de votre compte ndesign ou en nous envoyant une demande de contact.
    Rectification d’informations inexactes ou incomplètes
        Vous pouvez corriger des informations personnelles inexactes ou incomplètes directement via votre profil ou en nous envoyant une demande de contact.
    Conservation des données
        Après clôture du compte, les données sont définitivement supprimées à l’exception de celles pouvant permettre à ndesign de justifier l’exécution de ses obligations légales ou contractuelles. Les données ainsi conservées le sont pendant une période limitée et ne font l’objet d’aucune utilisation pendant cette durée.
    Objection et suppression des données
        Après clôture du compte, les données sont définitivement supprimées à l’exception de celles pouvant permettre à ndesign de justifier l’exécution de ses obligations légales ou contractuelles. Les données ainsi conservées le sont pendant une période limitée et ne font l’objet d’aucune utilisation pendant cette durée.
        Vous pouvez résilier à tout moment votre compte en allant directement dans votre profil ndesign et dans le cadre des conditions générales d’utilisation et de vente de votre abonnement souscrit</p>

<p>Protection des données et infrastructure de sécurité</p>

<p>Nous accordons une extrême importance à la protection des informations de nos clients et à la confidentialité de leurs utilisateurs. En tant qu’entreprise basée sur le cloud et gérant certaines des données les plus précieuses de nos clients, nous avons établi des normes de sécurité élevées. ndesing.com s’engage ainsi à prendre toutes les mesures raisonnables possibles pour éviter tout événement redouté (un accès illégitime, une modification non désirée ou et une disparition des données personnelles).</p>

<p>Nous collectons certaines données de navigation pour nous permettre d'assurer la sécurité de nos services et de détecter, d'éviter ou de retracer toute tentative de malveillance ou d'intrusion informatique ou toute violation des conditions d'utilisation de nos Services.</p>

<p>Les données sont conservées en utilisant les concepts de sécurité comme:

    Firewall;
    Load balancers;
    Sauvegardes des données à chaque jour;
    Chiffrement des données;
    Réplication de données dans des zones géographiques différentes.


Rôle: Co-Fondateur & CTO

Email: contact@ndesing.com

Addresse: 28 place st marc 76000 Rouen

La manière dont nous traitons vos données ne nous laisse pas indifférents...et c'est bien normal !

Une question, une remarque, une inquiétude...?

N’hésitez pas à nous contacter !
Annexe 2
Les pratiques équitables en matière d'information</p>

<h3>Principe 1 Responsabilité<h3>

<p>Ndesign.com est responsable des renseignements personnels dont elle a la gestion et elle a désigné un responsable de la protection de la confidentialité qui doit s'assurer du respect de la présente politique de protection de la confidentialité et des lois sur la protection des renseignements personnels. Les coordonnées du responsable de la protection de la confidentialité figurent à la rubrique "Comment communiquer avec nous" de la présente politique de protection de la confidentialité. En outre, notre responsabilité à l'égard des renseignements personnels que nous recueillons se poursuit même si nous communiquons ces renseignements à d'autres organisations. Par exemple, lorsque nous communiquons vos renseignements à une autre organisation (p. ex., l'un de nos fournisseurs de services), nous prenons des mesures contractuelles et autres afin de veiller à ce que ces fournisseurs protègent de façon appropriée vos renseignements personnels.</p>

<h3>Principe 2 - Détermination des fins de la collecte de renseignements personnels</h3>

Ndesign.com déterminera les fins auxquelles vos renseignements personnels sont recueillis avant la collecte ou au moment de celle-ci. Certaines des fins déterminées pour lesquelles ndesing.com recueille, utilise et communique d'ordinaire des renseignements personnels sont décrites à la clause 3 de la présente politique de protection de la confidentialité. Si nous entendons recueillir, utiliser ou communiquer vos renseignements personnels à des fins supplémentaires, nous modifierons la présente politique de protection de la confidentialité (et nous vous en aviserons) ou nous nous efforcerons d'obtenir votre consentement.</p>

<h3>Principe 3 - Obtention du consentement à l'égard de la collecte, de l'utilisation ou de la communication de renseignements personnels</h3>

<p>Nous obtiendrons votre consentement éclairé pour la collecte, l'utilisation ou la communication de vos renseignements personnels, sauf si cela est permis par la loi. Par exemple, nous vous demandons votre consentement à l'égard de la collecte, de l'utilisation et de la communication de vos renseignements personnels aux fins décrites à la clause 3 de la présente politique de protection de la confidentialité. Vous pouvez retirer votre consentement en tout temps à l'égard de certaines ou de la totalité des fins indiquées, sous réserve de restrictions légales ou contractuelles et de préavis raisonnable. Cependant, veuillez prendre note que dans certaines circonstances, nous pouvons ne pas être en mesure de vous fournir nos services si vous retirez votre consentement à l'égard de l'utilisation par nous de vos renseignements personnels.</p>

<h3>Principe 4 - Limitation de la collecte de renseignements personnels</h3>

<p>ndesing.com restreindra la collecte de renseignements personnels, tant pour ce qui est de la quantité que de la nature des renseignements, à ce qui est nécessaire pour réaliser les fins déterminées par ndesing.com. En outre, ndesing.com recueillera vos renseignements personnels de façon honnête et licite, sans vous tromper ou vous induire en erreur quant aux fins auxquelles les renseignements sont recueillis.</p>

<h3>Principe 5 - Limitation de l'utilisation, de la communication et de la conservation des renseignements personnels</h3>

<p>ndesing.com n'utilisera pas ni ne communiquera de renseignements personnels à des fins autres que celles auxquelles ils ont été recueillis, à moins que vous n'y consentiez ou que la loi ne l'exige. ndesing.com ne conservera vos renseignements personnels qu'aussi longtemps que nécessaire pour la réalisation des fins déterminées.</p>

<h3>Principe 6 - Exactitude des renseignements personnels</h3>

<p>ndesing.com s'efforcera de veiller à ce que vos renseignements personnels soient aussi exacts, complets et à jour que l'exigent les fins auxquelles ils sont destinés. ndesing.com mettra à jour les renseignements personnels lorsque cela s'avère nécessaire pour atteindre les fins déterminées ou sur avis de l'individu concerné. ndesign.ne ne mettra pas à jour systématiquement les renseignements personnels, à moins que ce processus ne soit nécessaire afin de réaliser les fins déterminées. Si vos coordonnées et/ou d'autres renseignements personnels changent, n'hésitez pas à communiquer avec nous afin que nous puissions mettre à jour nos dossiers.</p>

<h3>Principe 7 - Mesures de sécurité</h3>

<p>ndesing.com protègera vos renseignements personnels au moyen de mesures de sécurité correspondant au degré de sensibilité des renseignements. Par exemple, les serveurs informatiques dans lesquels nous emmagasinons vos renseignements personnels sont protégés par des coupe-feu et d'autres dispositifs de sécurité correspondant aux normes de l'industrie. En outre, vos renseignements personnels ne sont mis à la disposition de nos employés et de nos fournisseurs de services qu'en fonction d'un accès sélectif, afin de vous offrir nos services ou de réaliser autrement les fins déterminées à la clause 3 ci-dessus.</p>

<h3>Principe 8 - Transparence concernant les politiques et pratiques</h3>

<p>ndesing.com fera en sorte que des renseignements précis sur ses politiques et pratiques concernant la gestion des renseignements personnels vous soient facilement accessibles. Par exemple, la plus récente version de la présente politique de protection de la confidentialité sera toujours disponible sur le site Web de ndesing.com à l'adresse www.ndesing.com/politique-de-confidentialite et sur demande au responsable de la protection de la confidentialité dont les coordonnées figurent à la clause « Comment communiquer avec nous ».</p>

<h3>Principe 9 - Accès des individus aux renseignements personnels</h3>

<p>Sur demande écrite, sous réserve de certaines exceptions, ndesing.com vous informera de l'existence de renseignements personnels qui vous concernent, de l'usage qui en est fait et du fait qu'ils ont été communiqués à des tiers, et vous permettra de les consulter. Si nous ne vous permettons pas de les consulter, ndesing.com vous en avisera par écrit, vous donnera les motifs du refus et vous informera des recours possibles. Si l'accès est accordé, ndesing.com vous donnera une possibilité raisonnable d'examiner vos renseignements personnels. Vous pourrez contester l'exactitude et l'intégralité des renseignements et y faire apporter les corrections appropriées.</p>

<h3>Principe 10 - Possibilité de porter plainte à l'égard du non-respect des principes</h3>

<p>Vous avez le droit de vous plaindre du non-respect de la présente politique de protection de la confidentialité en communiquant avec le responsable de la protection de la confidentialité de ndesing.com.</p>
</main>
{% endblock body %}