{% extends ('base.html.twig') %}

{% block body %}

    {# CONTENU PRINCIPAL #}
    <main role="main">

        <img src="{{ asset('assets/img/here4u.svg') }}" alt="Nous sommes là pour vous" class="here4u">

    </main>
    {# FIN CONTENU PRINCIPAL #}

{% endblock %}