{% extends 'base.html.twig' %}

{% block body %}

<main role="main">

  <h2>Panier</h2>

    <table>

      <thead>
        <tr>
          <th>Nom produit</th>
          <th>Quantité</th>
          <th>Prix</th>
        </tr>
      </thead>
      
      {% for commande in commandes %}
      {% for produit in commande.produits %}

      {{  dump(produit) }}
      {% endfor %}
      {% endfor %}

    </table>

</main>

{% endblock body %}