{% extends 'base.html.twig' %}

{% block body %}

    {# Image contact #}
    <div class="thumbnail">
        <img src="{{ asset('assets/img/bg-p-panier.jpg') }}" alt="" class="img-panier">
    </div>

    <main role="main">

        <div class="panier-commandes">

            {# PANIER #}
            <div class="panier">

                {% for produits in commandes %}
                    <div class="contenu-produit">
                        <img src="{{ asset('assets/img/template2.png') }}" alt="" class="image-template-panier">
                        <span class="infos-commande-panier">
                            <h2 class="prix-template-panier">{{produits.prix}}€</h2>
                            <div class="titre-template-panier">{{produits.titre}}</div>
                        </span>
                    </div>
                {% endfor %}

            </div>

            {# PRIX TOTAL #}
            <div class="total">

                <h3 class="titre-total">Total</h3>
                <div class="prix-total">137€</div>

                <button type="submit" class="button-pay">Payer</button>

            </div>

        </div>

    </main>

{% endblock body %}