{% extends 'base.html.twig' %}

{% block body %}

<main role="main">

  <h2>Panier</h2>

    <table>

      <thead class="entete-panier">
        <tr>
          <th scope="row">Nom produit</th>
          <th scope="row">Prix</th>
        </tr>
      </thead>
      <tbody>
          {{dump(produit)}}
          <td>greggegre</td>
      </tbody>
    </table>

</main>

{% endblock body %}