{% extends 'base.html.twig' %}

{% block body %}

<main role="main">

  <h2>Panier</h2>

    <table>

      <thead class="entete-panier">
        <tr>
          <th>Nom produit</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
      {% for commande in commandes %}
        {% for produit in commande.produits %}
          <tr>
            <td>{{ produit.titre }}</td>
            <td>{{ produit.prix }}
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>

</main>

{% endblock body %}