{% extends 'base.html.twig' %}

{% block body %}

<main role="main">

  <h2>Panier</h2>

    <table>

      <thead class="entete-panier">
        <tr>
          <th scope="row">Nom produit</th>
          <th scope="row">Prix</th>
        </tr>
      </thead>
      <tbody>
        
        {% for produits in commandes %}
            {#{dump(produits)}#}
            <tr>
              <td>{{produits.titre}}</td>
              <td>{{produits.prix}}</td> 
            </tr>
        {% endfor %} 
       
      </tbody>
    </table>

</main>

{% endblock body %}