{% extends ('base.html.twig') %}

{% block body %}
<main role = "main">
<div class="image"><img src="">Ici l'image du site</div>


<div class="description">Ici la description</div>

<a href ="../assets/template/index{{produit.id}}.html">Live preview</a>
</main>
{% endblock body %}

