{% extends ('base.html.twig') %}

{% block body %}

    {# CONTENU PRINCIPAL #}
    <main role="main">

        <div class="contenu-single">

            {# Aperçu du template #}
            <div class="illustration-single">
                <img class="image-template-single" src="{{ asset('assets/img/template3.png') }}" alt="Image de template">
            </div>

            {# Descriptif du template #}
            <div class="textes-single">
                <div class="titre-prix">
                    <h4 class="titre-single">Spatial</h4>
                    <div class="prix">30 €</div>
                </div>
              
            <p class="descrip-single">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus dapibus convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc id laoreet odio. Aenean lobortis elit vel malesuada porttitor. Donec non velit pellentesque tellus hendrerit auctor. Ut a tempus eros.</p>
            <a href ="{#../assets/template/index{{produit.id}}.html#}" class="live-preview">Simulation du site</a>
            <a href ="#" class="add-to-cart">Ajouter au panier</a>
        </div>

        </div>

    </main>

{% endblock body %}