{% extends ('base.html.twig') %}

{% block body %}
<main role="main">
<h2>Conditions générales de vente</h2>

Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet [adresse du site], sous réserve des conditions particulières indiquées dans la présentation des produits.

<h3>ARTICLE 1 : Mentions obligatoires</h3>

<p>Le site Internet [adresse du site] est un service de :</br>

    [Raison sociale]
    </br>
    [Adresse du siège social] [Pays]
    </br>
    [Numéro d'inscription au Registre du Commerce et des Sociétés / Numéro d'inscription au Répertoire des métiers]
    </br>
    [Numéro individuel d'identification fiscale / n° de TVA]
    </br>
    [Adresse de courrier électronique]
    </br>
    [Numéro de téléphone]
</p>
<h3>ARTICLE 2 : Caractéristiques essentielles des produits et services vendus</h3>

<p>Le site Internet [adresse du site] vend :

    [Décrire les types de produits vendus]

Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. La validation de votre commande vaut donc pour acceptation des conditions générales de vente.

<h3>ARTICLE 3 : Prix</h3>

<p>Les prix de nos produits sont indiqués [en euros / indiquer autre monnaie] toutes taxes comprises (TTC).

En cas de commande livrée dans un pays autre que la France métropolitaine, le client est l'importateur des produits qu’il achète. Pour tous les produits expédiés hors des collectivités d’outre-mer ou de l’Union européenne, la facture est établie sur le prix hors taxes. Le client est seul responsable des déclarations et paiements de tout droit de douane ou autre taxe susceptibles d'être exigibles dans son pays.
</p>
<p>
Selon le cas :

    Les frais de livraison ne sont pas compris dans le prix. Le bon de commande indique le montant des frais de livraison avant toute passation de commande.

    Les frais de livraison sont inclus dans les prix des produits proposés en ligne.
</p>
<h3>ARTICLE 4 : Délai de disponibilité des produits</h3>

Les produits disponibles apparaissent sur notre site accompagnés de la mention « disponible ». Afin de répondre au mieux aux attentes de notre clientèle, la disponibilité de nos produits est régulièrement mise à jour sur notre site internet.

Si vous avez commandé un produit indisponible postérieurement à la validation de votre commande, vous en serez immédiatement informé. Nous procéderons à l'annulation de votre achat. Si la somme avait déjà été débitée, vous serez immédiatement remboursé.

<h3>ARTICLE 5 : Commande</h3>

<p>Vous avez la possibilité de commander nos produits directement sur notre site internet ou par téléphone au [numéro de téléphone] ([coût en euros] € TTC / min) du [jour de la semaine] au [jour de la semaine], de [heure] à [heure].

Pour passer une commande sur notre site, choisissez vos articles et ajoutez-les au panier. Validez le contenu de votre panier.
</p>
<p> Selon le cas :

    Si vous possédez déjà un compte client sur notre site, veuillez vous identifier.

    Si vous ne possédez pas de compte client sur notre site, veuillez en créer un.
</p>
<p>
Selon le cas :

    Cochez la case « livraison » pour validation de celle-ci.

    Choisissez un mode de livraison en fonction de votre commande.
</p>
<p>
Selon le cas :

    Cochez la case « paiement » pour honorer votre commande en ligne.

    Choisissez votre mode de paiement et cochez la case « acceptation des CGV ».
</p>
<p>
Validez votre paiement.

Vous recevrez un e-mail de confirmation de votre commande sur l'adresse mail que vous avez indiquée lors de la création de votre compte client.

Vérifiez les détails et le montant total de votre commande. Rectifiez au préalable les éventuelles erreurs avant toute acceptation.

Le transfert de propriété du produit n'aura lieu qu'au paiement complet de votre commande.
</p>
<h3>ARTICLE 6 : Livraison</h3>
<p>
Selon le cas :

    Nous effectuons nos livraisons uniquement en France métropolitaine. Sont donc exclus la Corse et les DOM-TOM. Nous livrons exclusivement à l'adresse indiquée par le client.

    Nous procédons à la livraison de nos produits en France métropolitaine y compris en Corse et dans les DOM-TOM. La livraison a lieu à l'adresse indiquée par l'acheteur.
</p>
<p>
Selon le cas :

    Nous vous proposons un seul type de livraison à savoir [colissimo / notre transporteur / par transport spécial, etc.], d'un montant de [montant en euros] € par commande.

    Nous vous proposons plusieurs modes de livraison. Ils varient en fonction des caractéristiques du produit acheté. Les livraisons disponibles sont les suivantes : [colissimo / notre transporteur / un transport spécial, etc.]. Le coût des livraisons varie en fonction du type de livraison :

        [Indiquer le mode de livraison] d'un montant de [montant en euros] € par commande.

Les délais de livraison sont donnés à titre indicatif. Ils peuvent évoluer en raison de différents facteurs comme [la disponibilité de notre transporteur / du traitement de la commande, etc.].
</p>
<h3>ARTICLE 8 : Modalités de paiement</h3>
<p>
Selon le cas :

    Plusieurs moyens de paiement sont acceptés. En tant que client, vous avez la possibilité de payer par : [carte bancaire / PayPal / chèque, etc.].

    Un seul mode de paiement est accepté : le consommateur doit payer par [carte bancaire / PayPal / chèque, etc.].
</p>
<p>
Selon le cas :

    Nous acceptons les paiements par carte [bleue / visa / master card / eurocard]. Lors de votre paiement en ligne, indiquez le numéro de votre carte bancaire, sa date d'expiration et les 3 chiffres inscrits au dos de celle-ci. Le paiement en ligne est sécurisé.

    Nous acceptons les paiements par chèque à partir de [montant en euros] €. Nous n'autorisons que les chèques émis par une banque située en France métropolitaine. Libellé à l'ordre de [indiquer le nom de la société créancière du chèque] envoyez-le à l'adresse suivante : [Adresse postale].
</p>
<p>
Éventuellement :

    Dès la passation de votre commande, nous procédons à la réservation de votre produit pendant un délai de [nombre de jours]. En l'absence de réception du chèque dans le délai indiqué, nous nous verrons dans l'obligation d'annuler votre commande. Votre chèque vous sera immédiatement renvoyé dès réception de celui-ci. Le paiement est encaissé dès réception du chèque.

Nous exigeons un paiement intégral de la commande.
</p>
<p>
Éventuellement :

    Toutefois, en cas d'offres spéciales et pour certains produits comme [indiquer le ou les produits pouvant être payés en plusieurs fois] vous avez la possibilité de payer en [nombre] fois sans frais.
</p>
<h3>ARTICLE 9 : Droit de rétractation</h3>
<p>
Selon le cas :

    Conformément à l'article L121-20 du Code de la consommation, vous disposez d'un droit de rétractation à exercer dans un délai de sept jours ouvrables à compter de la réception de l'article. Vous n'avez ni à justifier de motifs ni à payer de pénalités, mis à part les frais de retour ;

    Dès réception du produit ou au jour de l'acceptation de l'offre, vous disposez d'un droit de rétractation de 15 jours calendaires, soit 8 jours de plus que ce que prévoit la législation française.
</p>
<p>
Éventuellement :

    Le droit de rétractation est prolongé de [nombre de jours] lorsque vous payez vos achats par [indiquer la carte d'achat spécifique à la boutique en ligne].
</p>
<p>
Éventuellement :

    Le droit de rétractation ne s'applique pas pour les produits réalisés selon vos indications spécifiques et pour les produits personnalisés. Sont également exclus du droit de rétractation les produits qui sont par nature périssables, qui ne peuvent être réexpédiés (comme les téléchargements) ou qui peuvent se détériorer.

Réexpédiez le produit dans le délai mentionné ci-dessus. Dans le même délai, informez-nous de l'exercice de votre droit de rétractation par courrier postal à l'adresse suivante : [Adresse postale] ou par mail à [Adresse mail].

La marchandise est à retourner à l'adresse suivante, les frais de retour étant à votre charge : [Adresse de retour de la marchandise].

Afin que notre produit retourné soit à nouveau commercialisable, vous vous engagez à nous le renvoyer dans son emballage d'origine et en parfait état. L'emballage peut être ouvert et l'article utilisé tant qu'il est possible de le commercialiser.
</p>
<p>
Éventuellement :

    [Indiquer les produits qui, pour être remboursés, ne peuvent être descellés ou utilisés].

    Si vous désirez retourner un produit volumineux, vous pouvez, sur demande, bénéficier du service de reprise à domicile. Gratuit, ce service est disponible au [numéro de téléphone] [préciser si c'est le coût d'un appel local ou non]. Dans le cas d'une reprise d'un produit volumineux à domicile, vous profitez de la gratuité des frais de retour. Nous ne reprendrons que les produits volumineux restés intacts, complets et emballés.
</p>
<p>
Éventuellement :

    En ce qui concerne les produits à caractère électroménager, ceux-ci doivent être débranchés au moment de la reprise.
</p>
<h3>ARTICLE 10 : Garantie et droit de retour du produit (vice caché ou défectuosité)</h3>
<p>
Vous bénéficiez de la garantie légale de conformité et donc d'une application de l'article L211-4 du Code de la consommation qui dispose que :

    « Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. »

    « Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. »

La garantie est applicable à nos produits [neufs / d'occasion] ayant un caractère défectueux (absence de fonctionnalité, produit impropre à l'usage auquel vous pouvez vous attendre, absence des caractéristiques présentées en ligne, dysfonctionnement partiel ou total du produit, panne du produit) et ce, même en l'absence de garantie contractuelle.

Un défaut de conformité peut apparaître jusqu'à 6 mois après la transaction. Son existence est présumée au jour de la délivrance du bien et vous n'avez pas à démontrer l'existence du défaut de conformité.

Dans le cas d'un défaut de conformité, nous nous engageons à :
</p>
<p>
    remplacer le produit ;

    réparer le produit dans un délai de 30 jours et sans frais.
</p>
<p>
En cas de défaillance dans l'exécution de notre obligation ou en cas de défectuosité majeure, nous nous engageons à vous rembourser la totalité du prix versé ou une partie du prix si vous souhaitez conserver le produit.

La présomption du défaut de conformité ne s'applique plus s'il apparaît après 6 mois suivants la vente et avant 2 ans. Vous devez rapporter la preuve de la défectuosité de notre produit.

En cas de vice caché de votre produit, vous bénéficiez de la garantie légale des vices cachés des articles 1641 à 1649 du Code civil. Elle s'applique à tous nos produits [neufs / d'occasion]. Cette garantie s'applique lorsque le vice rend le produit impropre à l'usage ou lorsqu'il réduit à tel point son usage que vous ne l'auriez pas acheté ou l'auriez payé à un moindre prix. La garantie contre les vices cachés ne s'applique que lorsque le vice est antérieur à la vente. Vous disposez d'un délai de 2 ans à compter de la découverte du vice pour agir.

En présence d'un vice, nous nous engageons à remplacer votre produit ou à vous rembourser dans les plus brefs délais.
</p>
<h3>ARTICLE 11 : Conditions et délais de remboursement</h3>
<p>
Le remboursement des produits est intégral. Il s'effectue par [virement bancaire / PayPal / chèque, etc.] dans les plus brefs délais et au plus tard dans les 30 jours à compter de la date d'exercice du droit de rétractation.
</p>
<h3>ARTICLE 12 : Réclamations du consommateur</h3>
<p>
Toute réclamation du consommateur est à adresser par courrier postal à l'adresse mentionnée ci-contre [Adresse postale] ou par voie électronique à [Adresse mail].
</p>
<h3>ARTICLE 13 : Propriété intellectuelle</h3>
<p>
Tous les commentaires, images, illustrations de notre site nous sont exclusivement réservés. Au titre de la propriété intellectuelle et du droit d'auteur, toute utilisation est prohibée sauf à usage privé.

Sans autorisation préalable, toute reproduction de notre site, qu'elle soit partielle ou totale, est strictement interdite.
</p>
<h3>ARTICLE 14 : Responsabilité</h3>
<p>
Conformément à l'article 1147 du Code civil, nous engageons notre responsabilité contractuelle de plein droit à votre égard en cas d'inexécution ou de mauvaise exécution du contrat conclu.
</p>
;<p>
Toutefois, notre responsabilité contractuelle ne peut être engagée dans les situations mentionnées ci-dessous :

    cas de la force majeure ;

    fait étranger qui ne peut nous être imputable ;

    [etc.]
</p>
<p>
Éventuellement :

    Les [photographies / illustrations / images] de notre site n'ont aucune valeur contractuelle. Elles ne sauraient donc engager notre responsabilité.
</p>
<h3>ARTICLE 15 : Données à caractère personnel</h3>
<p>
Selon le cas :

    Certaines informations relatives au client seront transmises au vendeur (à savoir le nom, prénom, adresse, code postal et numéro de téléphone) et ce, afin de permettre le traitement et la livraison des produits commandés.

    Les offres commerciales du site seront adressées au client par [SMS / mail / téléphone / voie postale] si aucune opposition n'a été émise. Le client peut à tout moment s'opposer sans frais aux offres commerciales en se connectant sur son espace personnel ou par courrier postal au [adresse].

    Les informations relatives au client pourront être transmises à des partenaires commerciaux du site, sauf s'il y fait opposition.
</p>
<p>
Le site assure au client une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro [numéro].

En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, le client dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. Le client exerce ce droit via :

    son espace personnel

    un formulaire de contact

    par mail à [adresse mail]

    par voie postale au [adresse].
</p>
<h3>ARTICLE 16 : Juridiction compétente et droit applicable</h3>
<p>
En cas de litige entre le client consommateur et notre société, le droit applicable est [le droit français / indiquer le droit applicable].
</p>
<p>
Selon le cas :

    Les juridictions françaises ont seules compétences pour trancher le litige.

    Les tribunaux [indiquer le pays dont le droit est applicable dans le présent contrat] sont les seuls compétents en cas de litige.

</p>
</main> 
{% endblock body %}