{% extends ('base.html.twig') %}

{% block body %}

<main role="main">

    <h2>Conditions Générales de Vente</h2>

    Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet NDesign.fr, sous réserve des conditions particulières indiquées dans la présentation des produits.

    <h3>ARTICLE 1 : Mentions obligatoires</h3>

    <p>Le site Internet www.ndesign.com est un service de :</p>
        <p>28 place st marc 76000 Rouen
        </p>
        RCS000000000
        </p>
        intra tva 00000000000000
        </p>
        contact@ndesign.com
        </p>
        06.60.80.57.89
    </p>
    <h3>ARTICLE 2 : Caractéristiques essentielles des produits et services vendus</h3>
    </p>
    <p>Le site Internet ndesign.com vend :

       Des templates complets responsive dans le but de facilité la création d'un site par l'utilisateur 

    Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. La validation de votre commande vaut donc pour acceptation des conditions générales de vente.</p>

    <h3>ARTICLE 3 : Prix</h3>

    <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TTC).</p>
    <h3>ARTICLE 5 : Commande</h3>
    
    <p>Vous avez la possibilité de commander nos produits directement sur notre site internet
    Pour passer une commande sur notre site, choisissez vos articles et ajoutez-les au panier. Validez le contenu de votre panier.
    </p>
    <p>

        Si vous possédez déjà un compte client sur notre site, veuillez vous identifier.

        Si vous ne possédez pas de compte client sur notre site, veuillez en créer un.
    </p>
    <p>
    Validez votre paiement.

    Vous recevrez un e-mail de confirmation de votre commande sur l'adresse mail que vous avez indiquée lors de la création de votre compte client.

    Vérifiez les détails et le montant total de votre commande. Rectifiez au préalable les éventuelles erreurs avant toute acceptation.

    Le transfert de propriété du produit n'aura lieu qu'au paiement complet de votre commande.
    </p>
    <h3>ARTICLE 6 : Livraison</h3>
    </p>
    <p>
    Livraison par email d'un lien de téléchargement disponibilité 7 jours sur 7 24/24h
    </p>
    <h3>ARTICLE 8 : Modalités de paiement</h3>
    </p>
    <p>
        Un seul mode de paiement est accepté : le consommateur doit payer par  PayPal.
    </p>
    <h3>ARTICLE 9 : Droit de rétractation</h3>
    </p>
    Du fait que les prestations soit téléchargé vous ne pouvez disposer d'un délai de rétractation
    </p>
    <h3>ARTICLE 11 : Conditions et délais de remboursement</h3>
    </p>
    <p>
    Auccun remboursement ne pourras être efféctué 
    </p>
    <h3>ARTICLE 12 : Réclamations du consommateur</h3>
    </p>
    <p>
    Toute réclamation du consommateur est à adresser par courrier postal à l'adresse mentionnée ci-contre :
    Ndesign 
     28 place st marc 
     76000 Rouen
     ou par voie électronique à : 
     contact@ndesign.com 
    </p>
    <h3>ARTICLE 13 : Propriété intellectuelle</h3>
    </p>
    <p>
    Tous les commentaires, images, illustrations de notre site nous sont exclusivement réservés. Au titre de la propriété intellectuelle et du droit d'auteur, toute utilisation est prohibée sauf à usage privé.

    Sans autorisation préalable, toute reproduction de notre site, qu'elle soit partielle ou totale, est strictement interdite.
    </p>
    <h3>ARTICLE 14 : Responsabilité</h3>
    </p>
    <p>
    Conformément à l'article 1147 du Code civil, nous engageons notre responsabilité contractuelle de plein droit à votre égard en cas d'inexécution ou de mauvaise exécution du contrat conclu.
    </p>
    <h3>ARTICLE 15 : Données à caractère personnel</h3>
    </p>
    <p>
    Selon le cas :

        Certaines informations relatives au client seront transmises au vendeur (à savoir le nom, prénom, adresse, code postal et numéro de téléphone) et ce, afin de permettre le traitement et la livraison des produits commandés.

        Les offres commerciales du site seront adressées au client par [SMS / mail / téléphone / voie postale] si aucune opposition n'a été émise. Le client peut à tout moment s'opposer sans frais aux offres commerciales en se connectant sur son espace personnel ou par courrier postal au [adresse].

        Les informations relatives au client pourront être transmises à des partenaires commerciaux du site, sauf s'il y fait opposition.
    </p>
    <p>
    Le site assure au client une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro 0000000.
    En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, le client dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. Le client exerce ce droit via :

        son espace personnel

        un formulaire de contact

        par mail à no-register@ndesign.com

        par voie postale au  Ndesign 28 place st marc 76000 Rouen
    </p>
</main>

{% endblock body %}