{% extends ('base_admin.html.twig') %}

{% block body %}
    

    <h1>Liste des Produits</h1>
    <ul>
        <li>
            <a href="{{ path('produit_new') }}">Ajouter un nouveau produit</a>
        </li>
    </ul>

        {% for produit in produits %}
            <div class="card col-md-4" >
                <div class="card-body">
                    <h5 class="card-title">{{ produit.titre }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ path('produit_show',{ 'id': produit.id }) }}" class="btn btn-primary">Voir le produit</a>
                </div>
                </div>
        {% endfor %}

   
{% endblock %}
