/*
 * RESET
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
 * END RESET
 */

/*
 * CLEAR
 */

.clear:before,.clear:after {
    content: '';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

/* 
 * END CLEAR
 */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/* Focus des input & textarea */
input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

/* Couleur des placeholder */
::placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Barlow', sans-serif;
    font-weight: 300;    
    font-size: 20px;
}

/***************************
 ********* HEADER **********
 ***************************/

/* BG blanc */
.header {
    position: absolute;
    left: 0;
    right: 0;
    height: 90px;
    background-color: white;     
    z-index: 1;  
}

/* Logo NDesign */
.logo-ndesign {
    position: absolute;
    width: 10%;
    left: 50px;
    top: -10px;
    z-index: 20;
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
}

/* Barre de recherche */
.rechercher {
    position: relative;
    width: 25%;
    left: 25%;
    top: 50%;    
    margin-top: -14px;    
}

.search {
    position: absolute;    
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;    
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

.icone-search {
    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: 5px;
}

/* Icône panier */
.icone-panier {
    position: absolute;
    width: 4%;
    right: 140px;
    top: 50%;
    margin-top: -27px;
    -webkit-box-shadow: 2px 2px 0px 0px lightgrey;
    -moz-box-shadow:    2px 2px 0px 0px lightgrey;
    -o-box-shadow:      2px 2px 0px 0px lightgrey;
    box-shadow:         2px 2px 0px 0px lightgrey;
    -webkit-border-radius: 50px;
    -moz-border-radius:    50px;
    border-radius:         50px;
    transition: all 0.3s;
}

.icone-panier:hover {
    -webkit-box-shadow: 5px 5px 0px 0px lightgrey;
    -moz-box-shadow:    5px 5px 0px 0px lightgrey;
    -o-box-shadow:      5px 5px 0px 0px lightgrey;
    box-shadow:         5px 5px 0px 0px lightgrey;
}

/* Icône user */
.icone-user {
    position: absolute;
    width: 4%;
    right: 60px;
    top: 50%;
    margin-top: -27px;
    -webkit-box-shadow: 2px 2px 0px 0px lightgrey;
    -moz-box-shadow:    2px 2px 0px 0px lightgrey;
    -o-box-shadow:      2px 2px 0px 0px lightgrey;
    box-shadow:         2px 2px 0px 0px lightgrey;
    -webkit-border-radius: 50px;
    -moz-border-radius:    50px;
    border-radius:         50px;
    transition: all 0.3s;
}

.icone-user:hover {
    -webkit-box-shadow: 5px 5px 0px 0px lightgrey;
    -moz-box-shadow:    5px 5px 0px 0px lightgrey;
    -o-box-shadow:      5px 5px 0px 0px lightgrey;
    box-shadow:         5px 5px 0px 0px lightgrey;
}

/***************************
 ******* END HEADER ********
 ***************************/

/***************************
 ****** MAIN-CONTENT *******
 ***************************/

/* Base contenu principal */
main {
    position: relative;
    width: 80%;
    margin-top: 90px;
    margin-right: auto;
    margin-bottom: 50px;    
    margin-left: auto;
}

/***************
 **** INDEX ****
 ***************/

/* Feature */
.feature {
    position: relative;
    top: 90px;
}

.accroche {
    position: absolute;
    text-align: end;
    right: 60px;
    font-size: 75px;
    font-weight: 400;
    color: white;
    left: 40%;
    margin-top: 30px;
}

.strong {
    font-weight: 700;
}

.img-feature {
    width: 100%;
    top: 0;
    margin-bottom: 50px;
}

/* Aperçus des templates */
.templates {
    display: flex;
}

/* Template individuel */
.template {
    margin: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px lightgrey;
    -moz-box-shadow:    5px 5px 0px 0px lightgrey;
    -o-box-shadow:      5px 5px 0px 0px lightgrey;
    box-shadow:         5px 5px 0px 0px lightgrey;
    transition: all 0.3s;
}

.template:hover {
    -webkit-box-shadow: 15px 15px 0px 0px lightgrey;
    -moz-box-shadow:    15px 15px 0px 0px lightgrey;
    -o-box-shadow:      15px 15px 0px 0px lightgrey;
    box-shadow:         15px 15px 0px 0px lightgrey;
}

a {
    text-decoration: none;    
}

/* Image template */
.image-template {   
    width: 100%;
}

/* Titre */
.titre-template {  
    font-size: 23px;
    font-weight: 600;
    color: black;
    padding: 20px;
}

/* Bouton RESSOURCES */
.plus-ressources {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    background: -webkit-linear-gradient(-50deg, rgba(244,155,0,1) 0%,rgba(89,179,158,1) 100%);
    background: -moz-linear-gradient(-50deg, rgba(244,155,0,1) 0%, rgba(89,179,158,1) 100%);
    background: linear-gradient(135deg, rgba(244,155,0,1) 0%,rgba(89,179,158,1) 100%);
    padding: 10px;
    font-weight: 600;
    left: 50%;
    margin-left: -140px;
    margin-top: 40px;
}

/***************
 ** END INDEX **
 ***************/

/***************
 *** CONTACT ***
 ***************/

/* Image contact */
.thumbnail {
    position: relative;
    width: 100%;
    top: 90px;
    overflow: hidden;
    margin: 0;
}

.thumbnail .img-contact {
    display: block;
    width: 100%;
}

.img-contact {
    height: 300px;
    object-fit: cover;
}

/* Section */
.page-contact {
    position: relative;
    margin: 0 auto;
    top: 60px;
    display: flex;
}

/* Bloc adresse */
.bloc-adresse {
    float: left;
    width: 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}

.google-maps {
    width: 100%;
    height: 200px;
}

/* Logo bloc adresse */
.logo-adresse {
    position: absolute;
    width: 30%;
    top: 10px;
    left: 50%;
    margin-left: -75px;
}

/* Formulaire */
.form-contact {
    float: right;
    position: relative;
    width: 50%;
    margin-left: 80px;
}

.input-text {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;    
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

.input-textarea {
    display: block;
    width: 100%;
    height: 200px;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;    
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

.icone-send {
    position: relative;
    width: 10%;
    left: 50%;
    top: 20px;
    -webkit-box-shadow: 2px 2px 0px 0px lightgrey;
    -moz-box-shadow:    2px 2px 0px 0px lightgrey;
    -o-box-shadow:      2px 2px 0px 0px lightgrey;
    box-shadow:         2px 2px 0px 0px lightgrey;
    -webkit-border-radius: 50px;
    -moz-border-radius:    50px;
    border-radius:         50px;
    transition: all 0.3s;
}

.icone-send:hover {
    -webkit-box-shadow: 5px 5px 0px 0px lightgrey;
    -moz-box-shadow:    5px 5px 0px 0px lightgrey;
    -o-box-shadow:      5px 5px 0px 0px lightgrey;
    box-shadow:         5px 5px 0px 0px lightgrey;
}

/***************
 * END CONTACT *
 ***************/

/***************************
 **** END MAIN-CONTENT *****
 ***************************/

/***************************
 ********* FOOTER **********
 ***************************/

 /* BG blanc */
footer {
    position: relative;
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin-top: 120px;
}

/* Image de contact */
.image-contact {
    margin-left: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 15%;
}

/* Icônes de la team */
.icone-team {
    position: absolute;
    width: 17%;
    margin-top: 40px;
    right: 200px;
}

/* Liens */
.liens-footer {
    text-align: center;
    color: black;
    padding-bottom: 20px;   
    line-height: 3; 
    text-decoration: none; 
}

/* Transformation des <a> */
.lien-a {
    color: black;    
    font-weight: 500;        
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s;
}

.lien-a:hover {
    color: black;
    text-decoration: underline;
}

/***************************
 ******* END FOOTER ********
 ***************************/