{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

    <main class="main">

        <div class="bonjour">
            <p>Bonjour, <span style="font-weight: 500;">{{ user.username }}</span> !</p>
            <p style="font-size: 18px; margin-top: 7px;">({{ user.email }})</p>            
        </div>

    </main>

{% endblock body %}
