{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

    {# Bandeau BONJOUR #}
    <div class="bandeau-bonjour">
        <div class="texte-bonjour">
            <p>Bonjour, <span style="font-weight: 500;">{{ user.username }}</span> !</p>
            <p style="font-size: 18px; margin-top: 7px;">({{ user.email }})</p>            
        </div>
    </div>

    {# CONTENU PRINCIPAL #}
    <main role="main">

        {# DASHBOARD #}
        <div class="section-dashboard">

            <h3 class="titre-dashboard">Tableau de bord</h3>

            <section class="contenu-dashboard">

                <div class="partie-une">
                    <label for="" class="label">Pseudo</label>
                    <h4 class="user-info">chloe</h4>

                    <label for="" class="label">Email</label>
                    <h4 class="user-info">chloe.rault76@orange.fr</h4>

                    <label for="" class="label">Mot de passe</label>
                    <h4 class="user-info">************330</h4>
                </div>

                <div class="partie-deux">
                    <label for="" class="label">Membre depuis le</label>
                    <h4 class="user-info">07/06/2018</h4>

                    <label for="" class="label">Commandes passées</label>
                    <h4 class="user-info">2</h4>
                </div>
            
            </section>

        </div>

        {# MES INFORMATIONS #}
        <div class="section-informations">

            <h3 class="titre-informations">Mes informations</h3>

            <section class="contenu-informations">

                <form method="post" class="formulaire-informations">

                    <label for="" class="label">Pseudo</label>
                    <input type="text" class="input-text" value="chloe">

                    <label for="" class="label">Email</label>
                    <input type="text" class="input-text" value="chloe.rault76@orange.fr">

                    <button type="submit" class="button-save">Enregistrer</button>

                </form>
            
            </section>

        </div>

        {# MODIFIER MON MOT DE PASSE #}
        <div class="section-motdepasse">

            <h3 class="titre-motdepasse">Modifier mon<br>mot de passe</h3>

            <section class="contenu-motdepasse">

                <form method="post" class="formulaire-motdepasse">

                    {% include "@FOSUser/ChangePassword/change_password.html.twig" %}

                    <button type="submit" class="button-save">Enregistrer</button>

                </form>
            
            </section>

        </div>

        {# MES MOYENS DE PAIEMENT #}
        <div class="section-paiement">

            <h3 class="titre-paiement">Mes moyens de paiement</h3>

            <section class="contenu-paiement">

                <div class="moyens-paiement">

                    {# Méthode 1 #}
                    <a href="#" class="link-method">
                        <label class="container">Paypal
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </a>
                    {# Méthode 2 #}
                    <a href="#" class="link-method">
                        <label class="container">Carte bancaire
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </a>

                    <button type="submit" class="button-save">Enregistrer</button>

                </div>
            
            </section>

        </div>

        {# MON HISTORIQUE DE COMMANDES #}
        <div class="section-commandes">

            <h3 class="titre-commandes">Mon historique de commandes</h3>

            <section class="contenu-commandes">

                <div class="link-commande">
                    <div class="titre-commande">n°18GZEIUGFK</div>
                    <img src="{{ asset('assets/img/template1.png') }}" alt="" class="img-commande">
                    <div class="date-commande">07/06/2018</div>
                    <a href="#" class="details-commande">Détails de la commande</a>
                </div>

                <div class="link-commande">
                    <div class="titre-commande">n°UHLERG8524K</div>
                    <img src="{{ asset('assets/img/template2.png') }}" alt="" class="img-commande">
                    <div class="date-commande">08/06/2018</div>
                    <a href="#" class="details-commande">Détails de la commande</a>
                </div>
            
            </section>

        </div>

    </main>

{% endblock body %}
