{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

    {# Bandeau BONJOUR #}
    <div class="bandeau-bonjour">
        <div class="texte-bonjour">
            <p>Bonjour, <span style="font-weight: 500;">{{ user.username }}</span> !</p>
            <p style="font-size: 18px; margin-top: 7px;">({{ user.email }})</p>            
        </div>
    </div>

    {# CONTENU PRINCIPAL #}
    <main role="main">

        {# Menu + contenu #}
        <div class="menu">

            {# Menu #}
            <div class="sidebar">

                <a href="#" class="lien-sidebar">              
                    <h3 class="sidebar-titre">Tableau de bord</h3>
                </a>

                <a href="#" class="lien-sidebar">              
                    <h3 class="sidebar-titre">Mes infos</h3>
                </a>

                <a href="#" class="lien-sidebar">                
                    <h3 class="sidebar-titre">Mot de passe</h3>
                </a>

                <a href="#" class="lien-sidebar">                
                    <h3 class="sidebar-titre">Mode de paiement</h3>
                </a>

                <a href="#" class="lien-sidebar">                
                    <h3 class="sidebar-titre">Mes commandes</h3>
                </a>

            </div>

            {# Contenu de chacun des menus #}
            <div class="content-menu">

                {# TABLEAU DE BORD #}
                <section class="dashboard">

                    <h3 class="titre-formulaire">Tableau de bord</h3>

                    <div class="formulaire">

                        <div class="partie-gauche">

                            {# Pseudo #}
                            <label for="" class="label-formulaire">Pseudo</label>
                            <div class="informations-profil">chloe</div>

                            {# Email #}
                            <label for="" class="label-formulaire">Email</label>
                            <div class="informations-profil">chloe.rault76@orange.fr</div>

                            {# Date de création de profil #}
                            <label for="" class="label-formulaire">Création du profil</label>
                            <div class="informations-profil">07/06/2018</div>

                        </div>

                        <div class="partie-droite">

                            {# Pseudo #}
                            <label for="" class="label-formulaire">Mot de passe</label>
                            <div class="informations-profil">************330</div>

                            {# Email #}
                            <label for="" class="label-formulaire">Mode de paiement</label>
                            <div class="informations-profil">Paypal</div>

                            {# Date de création de profil #}
                            <label for="" class="label-formulaire">Commandes passées</label>
                            <div class="informations-profil">2</div>

                        </div>

                    </div>
                    
                </section>
                
                {# Formulaire MES INFOS #}
                <section class="mes-infos">

                    <h3 class="titre-formulaire">Mes informations</h3>

                    <form method="post" class="formulaire">

                        {# Champ pseudo #}
                        <label for="" class="label-formulaire">Pseudo</label>
                        <input type="text" class="input-formulaire" id="" name="">

                        {# Champ mail #}
                        <label for="" class="label-formulaire">Adresse e-mail</label>
                        <input type="email" class="input-formulaire" id="" name="">

                        <button type="submit" class="button-save">Enregistrer</button>

                    </form>
                    
                </section>

                {# Formulaire NOUVEAU MOT DE PASSE #}
                <section class="nouveau-mdp">

                    <h3 class="titre-formulaire">Modifier mon mot de passe</h3>

                    <form method="post" class="formulaire">

                        {# Champ pseudo #}
                        <label for="" class="label-formulaire">Mot de passe actuel</label>
                        <input type="text" class="input-formulaire" id="" name="">

                        {# Champ mail #}
                        <label for="" class="label-formulaire">Nouveau mot de passe</label>
                        <input type="email" class="input-formulaire" id="" name="">

                        {# Conditions du mot de passe #}
                        <ul class="conditions-mdp">
                            <li class="li">6 caractères minimum</li>
                            <li>1 chiffre requis</li>
                        </ul>

                        <button type="submit" class="button-save">Enregistrer</button>

                    </form>
                    
                </section>

                {# Formulaire MOYEN DE PAIEMENT #}
                <section class="moyen-paiement">

                    <h3 class="titre-formulaire">Mes modes de paiement</h3>

                    {# Lien d'ajout de mode de paiement #}
                    <a href="" class="add-method">Ajouter une nouvelle méthode de paiement</a>

                    <form method="post" class="formulaire-pay">

                        {# Méthode 1 #}
                        <a href="#" class="link-method">
                            <label class="container">Paypal
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </a>

                        {# Méthode 2 #}
                        <a href="#" class="link-method">
                            <label class="container">Carte bancaire
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </a>

                        <button type="submit" class="button-save-pay">Enregistrer</button>

                    </form>                   
                    
                </section>

                {# Tableau MES COMMANDES #}
                <section class="mes-commandes">

                    <h3 class="titre-formulaire">Mon historique de commandes</h3>

                    <div class="tableau-commandes">

                        <div class="col-img-commande">
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                        </div>

                        <div class="col-num-commande">
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                        </div>

                        <div class="col-date-commande">
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                        </div>

                        <div class="col-prix-commande">
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                            <p>salut</p>
                        </div>

                    </div>

                </section>

            </div>

        </div>

    </main>

{% endblock body %}
