{% block fos_user_content %}

{# {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %} #}

        <label for="" class="label">Mot de passe actuel</label>
        <input type="password" class="input-text" id="" name="" value="chloechloe76330">

        <label for="" class="label">Nouveau mot de passe</label>
        <input type="email" class="input-text" id="" name="">

        <ul class="conditions-mdp">
            <li class="li">6 caractères minimum</li>
            <li class="li">1 chiffre requis</li>
        </ul>

{% endblock fos_user_content %}
