{% block fos_user_content %}

{# {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %} #}

        {# Champ pseudo #}
        <label for="" class="label-formulaire">Mot de passe actuel</label>
        <input type="text" class="input-formulaire" id="" name="">

        {# Champ mail #}
        <label for="" class="label-formulaire">Nouveau mot de passe</label>
        <input type="email" class="input-formulaire" id="" name="">

        {# Conditions du mot de passe #}
        <ul class="conditions-mdp">
            <li class="li">6 caractères minimum</li>
            <li>1 chiffre requis</li>
        </ul>

{% endblock fos_user_content %}
