{% extends ('base.html.twig') %}

{% block body %}
<<<<<<< HEAD
kerhgkjozekjaezbfghjerhjhsqjkfdzjkebhfjuiezrhbf
=======

    <div class="feature">

        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>

    </div>

>>>>>>> 7dc558c36cfa80380249499f42442c2fc460a00e
{% endblock %}
